/*******************************************
****** ESTILO PARA LA PÁGINA DEL MAIL ******
********************************************/

*{margin:0; padding:0;} /*Siempre debo setear esto en los css. Esto se llama SELECTOR UNIVERSAL.*/


html, body{
   font-family: 'Open Sans', sans-serif;
   font-size: 100%;
   background:#fff; 
}


/*Div del cartel*/
.email {
	border: thin solid #ac0f22;
	border-bottom-width:2px;
	border-left-width:2px;
	border-right-width:2px;
	width:470px;
	margin-left:440px;
}

/*El cartel*/
.email h3 {
	text-align:center;
	font-size: 25px;
	font-weight: 700;
	color: #ac0f22;
	margin: 0px 0px 0px 0px;
}

/*Div del Logo*/
.logo {
	border: thin solid #ac0f22;
	border-width: 2px;
	width:470px; 
	padding: 35px 0px 26px 0px; /*top,N,botoom,N*/
	margin-left:440px;
}

/*La imágen del Logo*/
.logo img {

	margin-left:80px;
}
